.panel-body {
    overflow-y: scroll;
    height: 80vh;
}

.jumbotron {
	margin-top: 15%;
}

#github-btn{
    background-color: #444444;
    color: white;
}

#google-btn{
    background-color: #DD4B39;
    color: white;
}

#facebook-btn{
    background-color: #3B5998;
    color: white;
}

.chat-img{
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}