*{
    font-family: Arial;
}

body{
    position: relative;
}

#nickWrap{
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

#setNick{
    bottom: 5vh;
}

#chat{
    height: 100%;
    font-size: 18px;
    margin-left: 25px;
    float: right;
}

#send-message{
    position: fixed;
    left: 50%;
    bottom: 5vh;
    font-size: 25px;
    transform: translate(-50%);
}

#send-message input{
    margin-left: 50%;
    transform: translate(-50%);
}

#contentWrap{
    display: none;
}

#chatWrap{
    float: left;
}

#users{
    height: 35vh;
    width: 15%;
    float: right;
}

.error{
    color: red;
}

.whisper{
    color: salmon;
    font-style: italic;
}

body {
    padding-top: 15px;
    font-size: 12px
}
.main {
    max-width: 320px;
    margin: 0 auto;
}
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h3 {
    text-align: center;
    line-height: 300%;
}

#github-btn{
    background-color: #444444;
    color: white;
}

#google-btn{
    background-color: #DD4B39;
    color: white;
}

#facebook-btn{
    background-color: #3B5998;
    color: white;
}

/* ====================== new chat styles ===================== */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-img{
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.chat-text{
    margin-left: 15px;
    color: #777777;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: auto;
    height: 80vh;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
